@model Note
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <div class="item">
            <div class="text">
                <label class="control-label">@Model.Title</label>
                <label  class="control-label">@Model.Details</label>
            </div>
        </div>
    </div>
</div>